<div class="side-menu">
  <nav>
    <ul>
      <li>
        <a routerLink="/home">
          <div class="icon-container">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/about">
          <div class="icon-container">
            <mat-icon>person</mat-icon>
            <span>About</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/portfolio">
          <div class="icon-container">
            <mat-icon>work</mat-icon>
            <span>Portfolio</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/achievements">
          <div class="icon-container">
            <mat-icon>emoji_events</mat-icon>
            <span>Achievements</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <div class="icon-container">
            <mat-icon>mail</mat-icon>
            <span>Contact</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>
